.dark-mode {
  background-color: #242424;
  color: lightgrey;

  .form-control {
    background-color: #333333 !important;
    border: none !important;
    color: #eeeeee !important;
  }

  thead, tbody, tr {
    border-style: hidden;
  }

  th {
    color: #eeeeee !important;
    font-weight: 500 !important;
  }
}

select {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}
